/** Bootstrap override **/

/** End Bootstrap override **/
body {
    background-color: #434857;
    color: #b7bcc8;
}

.navbar-brand img {
    height: 24px;
}

.search-input {
    position: relative;
}
.search-input input {
    margin: 10px 30px;
    background-color: #434857;
    color: #ffffff;
    border: 1px solid #434857;
}

.search-input button {
    position: absolute;
    top: 16px;
    right: 25px;
    padding: 9px 10px;
    color: #b7bcc8;
    border: 0;
    line-height: 0;
    background-color: transparent;
}

.news-item-template {
    display: none;
}

.news-board {
    margin: 55px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.news-board .news-item{
    padding: 0;
    position: relative;
    float: none;
    flex-grow: 1;
}
@media (min-width: 768px) {
    .news-board .news-item{
        border-left: #b7bcc8 solid 3px;
    }
}

.news-board .news-item img {
    width: 100%;
}

.news-board .news-item p {
    color: white;
    text-shadow: 1px 1px #0f0f0f;
    padding: 5px;
    margin: 0;
}